@charset 'UTF-8';
@import 'extensions/_fonts';
@import 'extensions/_general';



$default-key-dimension: 100px;
.calculator {
	width: $default-key-dimension * 4;
	margin: 50px 50px;
}
/**
 * Display Styling
 */
.display {
	width: 100%;
	height: $default-key-dimension * 1.75;
	border: 3px solid $mui-primary-color-dark;
	background-color: $mui-primary-color-light;
	box-sizing: border-box;
}

/**
 * Keypad Styling
 */
.keypad {
	.key-row {
		width: 100%;
	}
}
.keypad-number-grid {
	.number-key-row {
		width: $default-key-dimension * 3;
	}
}
.key-container {
	float: left;
	width: $default-key-dimension;
	height: $default-key-dimension;
	@for $i from 1 through 2 {
		&.height-#{$i} {
			height: $default-key-dimension * $i;
		}
		&.width-#{$i} {
			width: $default-key-dimension * $i;
		}
	}
}
.key {
	width: 100%;
	height: 100%;
	border: 1px solid white;
	box-sizing: border-box;
	font-size: 20px;
}