@charset 'UTF-8';
@import 'extensions/_fonts';
@import 'extensions/_general';


$default-key-dimension: 100px;
.calculator {
	margin: 50px 50px;
	width: $default-key-dimension * 4;
}

/**
 * Header Styling
 */
.header {
	@extend .mui--text-title;
	@extend .mui--text-light;

	padding: 5px;
	width: 100%;
	background-color: $mui-primary-color;
}

/**
 * Work Screen Styling
 */
.work-screen {
	position: relative;
	padding: 7px 10px;
	width: 100%;
	height: $default-key-dimension * 1.75;
	background-color: $mui-primary-color-light;
}
.formula-display {
	@extend .mui--text-body1;

	width: 100%;
	height: 60%;
}
.value-display-container {
	position: absolute;
	overflow: hidden;
	width: 95%;
	height: 40%;
}
.value-display {
	@extend .mui--text-display3;

	position: absolute;
	right: 0;
	height: 100%;
	text-align: right;
}

/**
 * Keypad Styling
 */
.keypad {
	.key-row {
		width: 100%;
	}
}
.keypad-number-grid {
	.number-key-row {
		width: $default-key-dimension * 3;
	}
}
.key-container {
	@for $i from 1 through 2 {
		&.height-#{$i} {
			height: $default-key-dimension * $i;
		}
		&.width-#{$i} {
			width: $default-key-dimension * $i;
		}
	}

	float: left;
	width: $default-key-dimension;
	height: $default-key-dimension;
}
.key {
	@extend .mui--text-display1;

	margin: 0;
	width: 100%;
	height: 100%;
	border-radius: 0;
}